
cursos.xlsx
cursos1.xlsx
cursos2.xlsx
cursos3.xlsx
cursos4.xlsx
cursos5.xlsx
teste.xlsx
bot backup.py
pandastest.py
dist/Courses.xlsx
Comunicação,1.xlsx
.gitignore
.gitignore
__pycache__/bot.cpython-310.pyc
